<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Findyf</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="css/adotar.css">
        <link rel="icon" type="image/x-icon" href="imagens/favicon.png">
        <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    </head>
    <body>
        <header id="header">
			<div id="logo">
				<img id="img_logo" src="imagens/logo.png">
			</div>
            <button id="menu">≡</button>
				<b><a id="link1" href="/">Início</a></b>
                <b><a id="link2" href="/sobre">Sobre</a></b>
				<b><a id="link3" href="/adotar">Quero adotar</a></b>
                <b><a id="link3" href="/doar">Doar</a></b>
			<div>
				<a href="/login">
       		 	<input id="btn" type="button" value="Entrar">
    			</a>
			</div>
		</header>
        <main>
            <div>
                <h1 id="en_amigo">Encontre seu amigo</h1>
                <h3 id="peludo">Esses peludos estão esperando por um novo lar</h3>
            </div>
            <div id="btns">
                <div>
                    <form>
                        <div id="robsval">
                            <select class="selects" id="select_1">
                                <option value="tdEst">Todos os estados</option>
                                <option value="AC">Acre</option>
                                <option value="AL">Alagoas</option>
                                <option value="AP">Amapá</option>
                                <option value="AM">Amazonas</option>
                                <option value="BA">Bahia</option>
                                <option value="CE">Ceará</option>
                                <option value="ES">Espírito Santo</option>
                                <option value="GO">Goiás</option>
                                <option value="MA">Maranhão</option>
                                <option value="MT">Mato Grosso</option>
                                <option value="MS">Mato Grosso do Sul</option>
                                <option value="MG">Minas Gerais</option>
                                <option value="PA">Pará</option>
                                <option value="PB">Paraíba</option>
                                <option value="PR">Paraná</option>
                                <option value="PE">Pernambuco</option>
                                <option value="PI">Piauí</option>
                                <option value="RJ">Rio de Janeiro</option>
                                <option value="RN">Rio Grande do Norte</option>
                                <option value="RS">Rio Grande do Sul</option>
                                <option value="RO">Rondônia</option>
                                <option value="RR">Roraima</option>
                                <option value="SC">Santa Catarina</option>
                                <option value="SP">São Paulo</option>
                                <option value="SE">Sergipe</option>
                                <option value="TO">Tocantins</option>
                                <option value="DF">Distrito Federal</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div id="robsval2">
                    <form>
                        <select class="selects" id="select_2">
                            <option value="tdCid">Todos as cidades</option>
                            <option>São Paulo</option>
                        </select>
                    </form>
                </div>
                <div>
                    <form>
                        <select class="selects" id="select_3">
                            <option value="tdEsp">Todos as espécies</option>
                            <option>Cachorro</option>
                            <option>Gato</option>
                        </select>
                    </form>
                </div>
                <div>
                    <form>
                        <select class="selects" id="select_4">
                            <option value="tdEsp">Todos as raças</option>
                        </select>
                    </form>
                </div>
                <div>
                    <form>
                        <select class="selects" id="select_5">
                            <option value="tdEsp">Todos os sexos</option>
                            <option value="masc">Macho</option>
                            <option value="feme">Fêmea</option>
                        </select>
                    </form>
                </div>
                <div>
                    <a href="#">
                    <input id="btn_buscar"  type="button" value="Buscar">
                    </a>
                </div>
            </div>
            <br>
                    <table>
                    <% var a=0;b=0; while(a<5){ %>
                        <div id="quads">
                        <tr>                 <div class="quad"></div>
                          <% while(b<5){ %>
                   <td> <a href="/info"><img id="img_ani" src="./imagens/cachorro.jpg" width="100%"></a> 
                    <a id="ani_nome" href="/info"><h2 class="nome_ani">resultado[b<.nome/h2></a> 
                    <h3 class="nome_ani">Cidade</h3>
                    <h3 class="nome_ani">Por(nome do atual <span class="span_ani">dono</span>)</td></h3><br><br>
                    <% b++ } %>
                          </tr>
                    <% a++ } %>  
                </table>
                </div>
            </div>
            
        </main><br><br>
        <footer>
			<div id="terc_h1">
				<h2>ADOTE UM ANIMAL</h2>
				<a class="links" href="/adotar">Encontrar animal</a>	
			</div>
			<div id="qur_h1">
				<h2>DIVULGUE UM ANIMAL</h2>
				<a class="links" href="/publicar">Divulgar animal</a>
			</div>
			<div id="qui_h1">
				<h2>SOBRE NÓS</h2>
				<a class="links" href="/sobre">Sobre o projeto</a>
			</div>
			<div id="sex_h1">
				<h2>REDES SOCIAIS</h2>
				<a class="links" href="https://www.youtube.com/watch?v=wXhTHyIgQ_U">Instagram</a><br>
				<a class="links" href="https://www.youtube.com/watch?v=wXhTHyIgQ_U">Twitter</a><br>
				<a class="links" href="https://www.youtube.com/watch?v=wXhTHyIgQ_U">Facebook</a>
			</div>
            <div">
                <img id="logo_final" src="imagens/logofinal.PNG">
            </div>
		</footer>
    </body>
</html>