<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Findyf</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="css/cadastro.css">
        <link rel="icon" type="image/x-icon" href="imagens/favicon.png">
    </head>
    <body>
        <div id="logo">
            <img id="img_logo" src="imagens/logo.png">
        </div>
        <div id="cad">
            <h2>Cadastro</h2>
        </div>
        <main>
            <div id="naosei">
                <form action="" method="">
                    <h3 class="nomesImput">Nome</h3>
                    <input type="text" id="pri_input">
                    <h3 class="nomesImput">Email</h3>
                    <input type="text" id="seg_input">
                    <h3 class="nomesImput">Telefone</h3>
                    <input type="tel" id="ter_input">
                    <h3 class="nomesImput">Estado</h3>
                    <select class="nomesImput" id="selects">
                        <option value="es">Espírito Santo</option>
                        <option value="mg">Minas Gerais</option>
                        <option value="rj">Rio de Janeiro</option>
                        <option value="sp">São Paulo</option>
                    </select>
                    <h3 class="nomesImput">Cidade</h3>
                    <input type="text" id="qua_input">
                    <h3 class="nomesImput">Senha</h3>
                    <input type="text" id="qui_input"><br><br>
                    <input type="submit" id="btn"><br><br>
                    <center>Já tem uma conta?
                    <a href="/login" style="text-decoration: none;">Faça login</a></center>
                </form>
            </div>
        </main><br><br>
    </body>
</html>