<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Findyf</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="css/cadastro.css">
        <link rel="icon" type="image/x-icon" href="imagens/favicon.png">
        <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
	<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="logo">
            <a href= "/">
            <img id="img_logo" src="imagens/logo.png">
        </a>
        </div>
        <div id="cad">
            <h2>Cadastro</h2>
        </div>
        <main>
            <div>
                <form action="ccadastro" method="post">
                    <h3 class="nomesImput">Nome</h3>
                    <input type="text" id="pri_input">
                    <h3 class="nomesImput">Email</h3>
                    <input type="text" id="seg_input">
                    <h3 class="nomesImput">Telefone</h3>
                    <input type="tel" id="ter_input">
                    <h3 class="nomesImput">Estado</h3>
                    <select class="nomesImput">
                        <option value="es">Espírito Santo</option>
                        <option value="mg">Minas Gerais</option>
                        <option value="rj">Rio de Janeiro</option>
                        <option value="sp">São Paulo</option>
                    </select>
                    <h3 class="nomesImput">Cidade</h3>
                    <input type="text" id="qua_input">
                    <h3 class="nomesImput">Senha</h3>
                    <input type="text" id="qui_input"><br><br>
                    <input type="submit" id="btn"><br><br>
                </form>
            </div>
        </main>
    </body>
</html>