<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>Findyf</title>
        <link rel="stylesheet" href="css/doar.css">
        <link rel="stylesheet" media="screen and (min-width: 900px)" href="css/doar.css" />
        <link rel="icon" type="image/x-icon" href="imagens/favicon.png">
        <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    </head>
    <body>
        <header id="header">
			<div id="logo">
				<img id="img_logo" src="imagens/logo.png">
			</div>
				<a id="link1" href="/">Início</a>
				<a id="link2" href="/sobre">Sobre</a>
				<a id="link3" href="/adotar">Quero adotar</a>
			<div>
				<a href="/login">
       		 	<input id="btn" type="button" value="Entrar">
    			</a>
			</div>
		</header>
        <main>
            <div class="titulos">
                <h1>Ajude a find<span id="yf">yf</span> crescer</h1>
            </div>
            <div>
                <h3 class="textos">Com o objetivo de ajudar as pessoas a encontrarem um novo amigo e de ajudar animais que precisam 
                    de um novo lar, a findyf é um projeto voluntário e sem fins lucrativos. Contudo, o projeto precisa se 
                    manter em constante manutenção e, para isso, torna-se necessário um investimento para que o
                    projeto continue crescendo.</h3>
                    <h3 class="textos">Deste modo, viabilizamos uma forma para que qualquer pessoa interessada em ajudar na manitenção e 
                     crescimento do projeto possa doar. </h3>
                     <h3 class="textos">Abaixo está as formas de ajudar a findyf:</h3>
            </div>
            <div class="titulos">
                <h1>Doações via PIX</h1>
            </div>
            <div>
                <h3 class="textos">
                    Ajude na manutenção e no crescimento da findyf doando através do método de pagamento PIX.
                </h3>
                <h3 class="textos">
                    A chave para realizar uma doação é:
                </h3><h3 class="textos">
                    <span id="cnpj">CNPJ: 47.755.215/0001-86</span>
                </h3>
            </div>
            <div class="titulos">
                <h1>Doações via transferência bancária</h1>
            </div>
            <div>
                <h3  class="textos">Ajude na manutenção e no crescimento da findyf doando através de transferência bancária.<br><br>
                <h3 class="textos">Os dados para a tranferência bancária são:<br></h3>
                <h3 class="textos" id="cnpj">Conta corrente: 02282261-8<br>
                    Agência: 0193<br>
                    Banco: Santander<br>
                    CNPJ: 47.755.215/0001-86</h3>
            </div>
        </main>
        <br><br>
        <div>
            <img id="cachorro_amarelo" src="imagens/cachorro-amarelo.png">
            <img id="cachorro_roxo" src="imagens/cachorro-roxo.png">
        </div>
        <footer>
			<div id="terc_h1">
				<h2>ADOTE UM ANIMAL</h2>
				<a class="links" href="/adotar">Encontrar animal</a>	
			</div>
			<div id="qur_h1">
				<h2>DIVULGUE UM ANIMAL</h2>
				<a class="links" href="/publicar">Divulgar animal</a>
			</div>
			<div id="qui_h1">
				<h2>SOBRE NÓS</h2>
				<a class="links" href="/sobre">Sobre o projeto</a>
			</div>
			<div id="sex_h1">
				<h2>REDES SOCIAIS</h2>
				<a class="links" href="https://www.youtube.com/watch?v=wXhTHyIgQ_U">Instagram</a><br>
				<a class="links" href="https://www.youtube.com/watch?v=wXhTHyIgQ_U">Twitter</a><br>
				<a class="links" href="https://www.youtube.com/watch?v=wXhTHyIgQ_U">Facebook</a>
			</div>
            <div">
                <img id="logo_final" src="imagens/logofinal.PNG">
            </div>
		</footer>
    </body>
</html>