<!DOCTYPE html>
<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Findyf</title>
	<link rel="stylesheet" href="css/home.css">
	<link rel="stylesheet" media="screen and (min-width: 900px)" href="css/home.css" />
</head>
	<body>
		<header id="header">
			<div id="logo">
				<img id="img_logo" src="imagens/logo.png">
			</div>

				<a id="link1" href="https://www.youtube.com/watch?v=wXhTHyIgQ_U">Início</a>
				<a id="link2" href="https://www.youtube.com/watch?v=wXhTHyIgQ_U">Sobre</a>
				<a id="link3" href="https://www.youtube.com/watch?v=wXhTHyIgQ_U">Quero adotar</a>

			<div>
				<a href="https://www.facebook.com/">
       		 	<input id="btn" type="button" value="Entrar">
    			</a>
			</div>
		</header>
		<div>
			<center><img id="img_dados" src="imagens/dados2.jpg"></center>
		</div>
		<center><h1 id="prim_h1">Doe ou adote um amigo</h1></center>
			<div id="pesquise">
				<div class="bol_amarela">
					<h2 class="p_h2">1</h2>
				</div>
				<div class="palavras">
					<h1 class="s_h1">Pesquise</h1>
					<h3 class="p_h3">
						Passeie na aba de adoção e tenha acesso aos diversos animais.
					</h3><br><br><br><br>
					<a class="sbm" href="https://www.youtube.com/watch?v=wXhTHyIgQ_U">Saiba mais</a>
				</div>
			</div>
			<div id="escolha">
				<div class="bol_amarela">
					<h2 class="p_h2">2</h2>
				</div>
				<div class="palavras">
					<h1 class="s_h1">Escolha</h1>
					<h3 class="p_h3">
						Escolha o animal que mais te chamou atenção e entre em contato com seu dono.
					</h3><br><br><br><br>
					<a class="sbm" href="https://www.youtube.com/watch?v=wXhTHyIgQ_U">Saiba mais</a>
				</div>
			</div >
			<div id="adote">
				<div class="bol_amarela">
					<h2 class="p_h2">3</h2>
				</div>
				<div class="palavras">
					<h1 class="s_h1">Adote</h1>
					<h3 class="p_h3">
						Planeje com o anunciante o local e horário para retirar seu novo amigo.
					</h3><br><br><br><br>
					<a class="sbm" href="https://www.youtube.com/watch?v=wXhTHyIgQ_U">Saiba mais</a>
				</div>
			</div>
		<div id="porq">
			<center><h1>Por que eu devo adotar?</h1></center>
		</div><br><br><br>
		<div id="texto_1">
			<h1>Texto explicativo</h1>
		</div>
		<div id="texto_2">
			<h1>Texto explicativo</h1>
		</div><br><br><br>
		<footer>
			<div id="terc_h1">
				<h2>ADOTE UM ANIMAL</h2>
				<a class="links" href="https://www.youtube.com/watch?v=wXhTHyIgQ_U">Encontrar animal</a>	
			</div>
			<div id="qur_h1">
				<h2>DIVULGUE UM ANIMAL</h2>
				<a class="links" href="https://www.youtube.com/watch?v=wXhTHyIgQ_U">Divulgar animal</a>
			</div>
			<div id="qui_h1">
				<h2>SOBRE NÓS</h2>
				<a class="links" href="https://www.youtube.com/watch?v=wXhTHyIgQ_U">Sobre o projeto</a>
			</div>
			<div id="sex_h1">
				<h2>REDES SOCIAIS</h2>
				<a class="links" href="https://www.youtube.com/watch?v=wXhTHyIgQ_U">Instagram</a><br>
				<a class="links" href="https://www.youtube.com/watch?v=wXhTHyIgQ_U">Twitter</a><br>
				<a class="links" href="https://www.youtube.com/watch?v=wXhTHyIgQ_U">Facebook</a>
			</div>
		</footer>
	</body>
</html>