<!DOCTYPE html>
<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Findyf</title>
	<link rel="stylesheet" href="css/home.css">
	<link rel="stylesheet" media="screen and (min-width: 900px)" href="css/home.css" />
	<link rel="icon" type="image/x-icon" href="imagens/favicon.png">
	<link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
	<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

</head>
	<body>
		<header id="header">
			<div id="logo">
                <a href= "/">
				<img id="img_logo" src="imagens/logo.png">
			</a>
            </div>

				<a id="link1" href="/">Início</a>
				<a id="link2" href="/sobre">Sobre</a>
				<a id="link3" href="/adotar">Quero adotar</a>

			<div>
				<a href="/login">
       		 	<input id="btn" type="button" value="Entrar">
    			</a>
			</div>
		</header>
		<div>
			<center><img id="img_dados" loading="eager" src="imagens/dados2.jpg" width="100%"></center>
		</div>
		<center><h1 id="prim_h1">Doe ou adote um amigo</h1></center>
			<div id="pesquise">
				<div class="bol_amarela">
					<h2 class="p_h2">1</h2>
				</div>
				<div class="palavras">
					<h1 class="s_h1">Pesquise</h1>
					<h3 class="p_h3">
						Passeie na aba de adoção e tenha acesso aos diversos animais.
					</h3><br><br><br><br>
					<a class="sbm" href="/adotar">Saiba mais</a>
				</div>
			</div>
			<div id="escolha">
				<div class="bol_amarela">
					<h2 class="p_h2">2</h2>
				</div>
				<div class="palavras">
					<h1 class="s_h1">Escolha</h1>
					<h3 class="p_h3">
						Escolha o animal que mais te chamou atenção e entre em contato com seu dono.
					</h3><br><br><br><br>
					<a class="sbm" id="sbm1" href="/adotar">Saiba mais</a>
				</div>
			</div >
			<div id="adote">
				<div class="bol_amarela">
					<h2 class="p_h2">3</h2>
				</div>
				<div class="palavras">
					<h1 class="s_h1">Adote</h1>
					<h3 class="p_h3">
						Planeje com o anunciante o local e horário para retirar seu novo amigo.
					</h3><br><br><br><br>
					<a class="sbm" href="/adotar">Saiba mais</a>
				</div>
			</div>
		<div id="porq">
			<center><h1>Por que eu devo adotar?</h1></center>
		</div><br><br><br>
		<div id="texto1">
			<h3> Por mais que a venda de animais de estimação em pet shops pareça algo inofensivo,
				atos de crueldade cometidos até mesmo por tutores, que deveriam estar cuidando 
				destes animais, ficam ocultos. Um sistema cruel de procriação criado para 
				conseguir filhotes de raça pura, submetendo as fêmeas de raça a 
				acasalarem com os machos. <a class="sbms" href="/sobre">Saiba mais</a></h3>

		</div><br><br><br>
		<footer>
			<div id="terc_h1">
				<h2>ADOTE UM ANIMAL</h2>
				<a class="links" href="/adotar">Encontrar animal</a>	
			</div>
			<div id="qur_h1">
				<h2>DIVULGUE UM ANIMAL</h2>
				<a class="links" href="publicar.html">Divulgar animal</a>
			</div>
			<div id="qui_h1">
				<h2>SOBRE NÓS</h2>
				<a class="links" href="sobre.html">Sobre o projeto</a>
			</div>
			<div id="sex_h1">
				<h2>REDES SOCIAIS</h2>
				<a class="links" href="https://www.youtube.com/watch?v=5UWYVy0ryjI&ab_channel=-Luna">Instagram</a><br>
				<a class="links" href="https://www.youtube.com/watch?v=5UWYVy0ryjI&ab_channel=-Luna">Twitter</a><br>
				<a class="links" href="https://www.youtube.com/watch?v=5UWYVy0ryjI&ab_channel=-Luna">Facebook</a>
			</div>
			<div">
                <img id="logo_final" src="imagens/logofinal.PNG">
            </div>
		</footer>
	</body>
</html>