<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Findyf</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="css/login.css">
        <link rel="stylesheet" media="screen and (max-width: 900px)" href="css/login.css"/>
        <link rel="icon" type="image/x-icon" href="imagens/favicon.png">
        <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    </head>
    <body>
        <a href="/">
            <button id="btn_voltar">Início</button>
        </a>
        <div id="logo">
            <img id="img_logo" src="imagens/logo.png">
        </div>
        <div id="faLog">
            <h2>Faça seu login</h2>
        </div>
        <main>
            <br><h3 id="email">Email</h3>
            <form action="/clogin" method="post">
                <input type="text" id="pri_input" name="email">
                <h3 id="senha">Senha</h3>
                <input type="text" id="seg_input"><br><br>
                <input type="submit" id="btn" name="senha">
            </form><br><br>
            <a id="esq_senha" href="/esqueci">Esqueci a senha</a><br>
            <a id="criar" href="/cadastro">Criar uma conta</a><br><br><br>
        </main>
    </body>
</html>