<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>Findyf</title>
        <link rel="stylesheet" href="css/sobre.css">
        <link rel="stylesheet" media="screen and (min-width: 900px)" href="css/sobre.css" />
        <link rel="icon" type="image/x-icon" href="imagens/favicon.png">
        <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    </head>
    <body>
        <header id="header">
			<div id="logo">
                <a href= "/">
				<img id="img_logo" src="imagens/logo.png">
			</a>
            </div>
				<a id="link1" href="/">Início</a>
				<a id="link2" href="/sobre">Sobre</a>
				<a id="link3" href="/adotar">Quero adotar</a>
			<div>
				<a href="/login">
       		 	<input id="btn" type="button" value="Entrar">
    			</a>
			</div>
		</header>
        <main>
            <div class="titulos">
                <h1>Sobre nós</h1>
            </div>
            <div>
                <h3 class="textos">A findyf é um projeto oriundo do trabalho de conclusão de curso da instituição escolar Etec Bartolomeu
                    Bueno da Silva. O projeto tem como objetivo geral ajudar as pessoas a encontrarem um novo lar em 
                    casos de adoção de animais abandonados, perdidos e/ou resgatados. Portanto, a finalidade do 
                    projeto é desenvolver um site de busca e adoção de animais no Brasil.<br><br>
                    
                    Este trabalho surge da necessidade de facilitar este alcance e comunicação entre as ONGs, abrigos e 
                    pessoas que querem anunciar uma adoção, com a intenção de diminuir o número de animais 
                    abandonados no Brasil e conscientizar a população sobre este assunto que sofre com 
                    uma negligência por parte do poder público e das pessoas. </h3>
            </div>
            <div class="titulos">
                <h1>Como funciona o site?</h1>
            </div>
            <div>
                <h3 class="textos">
                    O site da findyf tem a função de facilitar a divulgação de adoções, portanto, o usuário interessado em
                    divulgar um animal deve se <span><a class="span" href="cadastro.html">cadastrar</a></span> no site e colocar as informações necessárias para a postagem
                    do animal. Depois disso, é só esperar pelo contato das pessoas que se interessaram pelo animal.
                </h3>
            </div>
            <div class="titulos">
                <h1>Como adotar um animal?</h1>
            </div>
            <div>
                <h3 class="textos">Se você está interessado em algum animal publicado no site e deseja adotá-lo, é simples. Basta ir na aba
                    ‘<span><a class="span" href="#">adotar</a></span>’, escolher o animal que mais se identifica com a sua personalidade, clicar em ‘Quero adotar’, e
                    entrar em contato com o divulgador.<br><br>

                    <span id="importante">Vale salientar que nosso site é de adoção, ou seja, a venda de animais é extremamente <b>PROIBIDA</b>. Isso
                        vai diretamente contra os pensamentos do nosso projeto.</span>
                    </h3>
            </div>
            <!-- <div class="titulos">
                <h1>Porque eu devo adotar?</h1>
            </div>
            <div>
               <h3 class="textos">
                Em muitos locais, a venda de animais é feita sem que ocorram maus tratos, contudo, a melhor forma de 
                adquirir um animal é através da adoção. Ao realizar a adoção de um animal, você está, 
                automaticamente, salvando uma vida e não financiará o tráfico de animais.
               </h3> 
            </div>!-->
        </main>
        <br><br>
        <div>
            <img id="cachorro_amarelo" src="imagens/cachorro-amarelo.png">
            <img id="cachorro_roxo" src="imagens/cachorro-roxo.png">
        </div>
        <footer>
			<div id="terc_h1">
				<h2>ADOTE UM ANIMAL</h2>
				<a class="links" href="/adotar">Encontrar animal</a>	
			</div>
			<div id="qur_h1">
				<h2>DIVULGUE UM ANIMAL</h2>
				<a class="links" href="/publicar">Divulgar animal</a>
			</div>
			<div id="qui_h1">
				<h2>SOBRE NÓS</h2>
				<a class="links" href="/sobre">Sobre o projeto</a>
			</div>
			<div id="sex_h1">
				<h2>REDES SOCIAIS</h2>
				<a class="links" href="https://www.youtube.com/watch?v=wXhTHyIgQ_U">Instagram</a><br>
				<a class="links" href="https://www.youtube.com/watch?v=wXhTHyIgQ_U">Twitter</a><br>
				<a class="links" href="https://www.youtube.com/watch?v=wXhTHyIgQ_U">Facebook</a>
			</div>
            <div">
                <img id="logo_final" src="imagens/logofinal.PNG">
            </div>
		</footer>
    </body>
</html>