<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Findyf</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="css/verperfil.css">
        <link rel="icon" type="image/x-icon" href="imagens/favicon.png">
        <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    </head>
    <body>
        <header id="header">
			<div id="logo">
				<img id="img_logo" src="imagens/logo.png">
			</div>
                <button id="menu">≡</button>
				<a id="link1" href="/">Início</a>
                <a id="link2" href="/sobre">Sobre</a>
				<a id="link3" href="/adotar">Quero adotar</a>
                <a id="link3" href="/doar">Doar</a>
			<div>
				<a href="/login">
       		 	<input id="btn" type="button" value="Entrar">
    			</a>
			</div>
		</header>
        <main>
                <img src="imagens/imgPerfil.png" id="img_perfil">
                <a href="/perfil">
       		 	<input id="btn_editar" type="button" value="Editar perfil">
    			</a>
                <h1 id="nome_perfil">Nome</h1> 
                <h3 id="infos"><span id="cont"><b>Contatos</b>:</span><br>email@email.com<br>(11) 4002-8922</h3>
                <h1 id="ani_anunciados">Animais anunciados por esse perfil</h1>
            <div id="quads">
                <div class="quad">
                    <a href="/info"><img id="img_ani" src="./imagens/cachorro.jpg" width="100%"></a>
                    <a id="ani_nome" href="info.html"><h2 class="nome_ani">Nome</h2></a>
                    <h3 class="nome_ani">Cidade</h3>
                    <h3 class="nome_ani">Por(nome do atual <span class="span_ani">dono</span>)</h3><br><br>
                </div>
            </div>
        </main><br><br>
        <footer>
			<div id="terc_h1">
				<h2>ADOTE UM ANIMAL</h2>
				<a class="links" href="/adotar">Encontrar animal</a>	
			</div>
			<div id="qur_h1">
				<h2>DIVULGUE UM ANIMAL</h2>
				<a class="links" href="/publicar">Divulgar animal</a>
			</div>
			<div id="qui_h1">
				<h2>SOBRE NÓS</h2>
				<a class="links" href="/sobre">Sobre o projeto</a>
			</div>
			<div id="sex_h1">
				<h2>REDES SOCIAIS</h2>
				<a class="links" href="https://www.youtube.com/watch?v=wXhTHyIgQ_U">Instagram</a><br>
				<a class="links" href="https://www.youtube.com/watch?v=wXhTHyIgQ_U">Twitter</a><br>
				<a class="links" href="https://www.youtube.com/watch?v=wXhTHyIgQ_U">Facebook</a>
			</div>
            <div">
                <img id="logo_final" src="imagens/logofinal.PNG">
            </div>
		</footer>
    </body>
</html>