@font-face {
    font-family: 'Ubuntum';
    src: url('UbuntuTitling-Bold.otf') format('opentype'), url('ubuntu-title-fr-1.1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@media screen and (min-width: 901px){
    *{
        margin: 0%;
        padding: 0%;
    }
    body{
        background-color:#f3f4f6;
        background-image: url('../imagens/cachorro.jpg');
        background-size: 55%;
        background-repeat: no-repeat ;
    }
    #imgCa{
        width: 50%;
        max-height: 100%;
    }
    #img_logo{
        float: right;
        margin-top: -3%;
        margin-right: 13%;
        width: 20%;
    }
    #faLog{
        float: right;
        margin-top: 12%;
        margin-right: -14%;
        color:#7b00ff;
        font-family: 'Ubuntu',sans-serif;
    }
    #btn_voltar{
        margin-top: 2%;
        margin-left: 2%;
        float: left;
        width: 7%;
        border:none;
        padding: 0.5%;
        outline: none;
        border-radius: 10px;
        background-color: #7b00ff;
        color:white;
        cursor: pointer;
        font-family: 'Ubuntu',sans-serif;
    }
    #btn_voltar:hover{
        background:#7b00f1;
    }
    main{
        float: right;
        margin-top: 17%;
        margin-right: -25%;
        background-color: #fefefe;
        width: 30%;
        color:black;
        border-radius: 10px;
        box-shadow: 5px 5px 5px gray;
		font-family: 'Ubuntu',sans-serif;
    }
    #email{
        margin-top: 2%;
        margin-left: 3%;
    }
    #pri_input{
        margin-top: 2%;
        margin-left: 3%;
        width: 89%;
        background-color: #f3f4f6;
        height: 30px;
        border-radius: 10px;
        background-color: #e9e6eb;
        border:none;
        outline: none;
        padding: 2%;
    }
    #senha{
        margin-top: 2%;
        margin-left: 3%; 
    }
    #seg_input{
        margin-top: 2%;
        margin-left: 3%;
        width: 89%;
        background-color: #f3f4f6;
        height: 30px;
        border-radius: 10px;
        background-color: #e9e6eb;
        border:none;
        outline: none;
        padding: 2%;
    }
	#consenha{
		margin-top: 2%;
        margin-left: 3%; 
	}
	#ter_input{
        margin-top: 2%;
        margin-left: 3%;
        width: 89%;
        background-color: #f3f4f6;
        height: 30px;
        border-radius: 10px;
        background-color: #e9e6eb;
        border:none;
        outline: none;
        padding: 2%;
    }
    #btn{
        margin-left: 38%;
        background-color: #7b00ff;
        color:white;
        font-family: 'Ubuntu',sans-serif;
        font-size: 16px;
        cursor: pointer;
        padding: 10px;
        width: 30%;
		border-radius: 5px;
        border: 0px;
        box-shadow: 0 5px 0 #7b00f2;
    }
    #btn:hover{
		background:#7b00f1 ;
		box-shadow: 0 5px 0 #7b00f2;
	}
    #btn:active{
		position: relative;
		top: 5px;
		box-shadow: none;
	}
    #esq_senha{
        margin-left: 38%;
        text-decoration: none;
        color:#7b00f2;
    }
    #esq_senha:hover{
        color: blue;
    }
    #criar{
        margin-left: 40%;
        text-decoration: none;
        color:#7b00f2;
    }
    #criar:hover{
        color: blue;
    }
}
@media screen and (max-width: 900px) {
    body{
        background-image: url('../imagens/cachorro.jpg');
    }
}
@media screen and (max-width: 360px) {
    *{
        margin: 0%;
        padding: 0%;
    }
    body{
        background-image: url('../imagens/cachorro.jpg');
        background-size: 200%;
    }
    #img_logo{
        width: 45%;
        margin-left: 28%;
        margin-right: 28%;
    }
    #faLog{
        color:#7b00ff;
        font-family: 'Ubuntu',sans-serif;
        margin-left: 25%;
        margin-right: 25%;
        margin-top: -15%;
    }
    #btn_voltar{
        margin-top: 5%;
        margin-left: 2%;
        width: 10%;
        border:none;
        padding: 0.5%;
        outline: none;
        border-radius: 2px;
        background-color: #7b00ff;
        color:white;
        cursor: pointer;
        font-family: 'Ubuntu',sans-serif;
    }
    #btn_voltar:hover{
        background:#7b00f1;
    }
    main{
        margin-top: 2%;
        background-color: #fefefe;
        margin-left: 10%;
        margin-right: 10%;
        font-family: 'Ubuntu',sans-serif;
    }
    #email{
        margin-top: 2%;
        margin-left: 3%;
    }
    #pri_input{
        margin-top: 2%;
        margin-left: 3%;
        width: 89%;
        background-color: #f3f4f6;
        height: 30px;
        border-radius: 10px;
        background-color: #e9e6eb;
        border:none;
        outline: none;
        padding: 2%;
    }
    #senha{
        margin-top: 2%;
        margin-left: 3%; 
    }
    #seg_input{
        margin-top: 2%;
        margin-left: 3%;
        width: 89%;
        background-color: #f3f4f6;
        height: 30px;
        border-radius: 10px;
        background-color: #e9e6eb;
        border:none;
        outline: none;
        padding: 2%;
    }
    #btn{
        margin-left: 35%;
        background-color: #7b00ff;
        color:white;
        font-family: Ubuntum;
        font-size: 16px;
        cursor: pointer;
        padding: 10px;
        width: 30%;
		border-radius: 5px;
        border: 0px;
        box-shadow: 0 5px 0 #7b00f2;
    }
    #btn:hover{
		background:#7b00f1 ;
		box-shadow: 0 5px 0 #7b00f2;
	}
    #btn:active{
		position: relative;
		top: 5px;
		box-shadow: none;
	}
    #esq_senha{
        text-decoration: none;
        color:#7b00f2;
        margin-left: 30%;
    }
    #esq_senha:hover{
        color: blue;
    }
    #criar{
        margin-left: 30%;
        text-decoration: none;
        color:#7b00f2;
    }
    #criar:hover{
        color: blue;
    }
}